<mat-card class="dish-card">
  <div id="mat-card-top" [ngClass]="{ compact: compact }">
    <div id="mat-card-heading" (click)="toggleExpanded()">
      <mat-card-title>{{
        dish.name == "closed" ? "Not Available" : dish.name
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="category">{{ category }}</mat-card-subtitle>
    </div>
    <button
      *ngIf="compact"
      mat-icon-button
      aria-label="Expand"
      (click)="toggleExpanded()"
    >
      <mat-icon *ngIf="isExpanded">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="!isExpanded">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="isExpanded || dish.name === 'closed'">
    <mat-card-content>
      <app-average-stars
        *ngIf="averageStars"
        [averageStars]="averageStars"
        (click)="openReviewDialog()"
      >
        (from {{ numReviews }} reviews)
      </app-average-stars>
      <div *ngIf="!initialized" id="carousel-placeholder">
        <mat-spinner diameter="120"></mat-spinner>
      </div>
      <app-dish-carousel
        *ngIf="initialized"
        [pictures]="carouselData"
        [fitPicture]="carouselPlaceholder"
        [placeholder]="carouselPlaceholder"
        [dish]="dish.name"
        (click)="onCarouselClicked()"
      >
      </app-dish-carousel>
    </mat-card-content>
    <mat-card-actions>
      <mat-spinner-button
        (btnClick)="triggerPhotoUpload()"
        [options]="uploadButtonOpts"
        >UPLOAD PHOTO
        <input #photoUpload id="photo-upload" type="file" accept="image/*" />
      </mat-spinner-button>
      <button mat-button color="primary" (click)="openReviewDialog()">
        REVIEWS
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
