:host {
  display: block;
}

#mat-card-top.compact {
  display: flex;

  #mat-card-heading {
    flex-grow: 1;
  }
}

#average-stars {
  display: block;

  #average-stars-text {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
  }
}

#carousel-placeholder {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;

  mat-spinner {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
}

#photo-upload {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  overflow: hidden !important;
  z-index: 100 !important;
  margin-top: -20px;
  padding-top: -20px;
  top: -20px;
}
