<mat-form-field class="mensa-select">
  <mat-label>Select your Mensa</mat-label>
  <mat-select
    [value]="selectedMensa"
    (selectionChange)="onMensaChanged($event.value)"
  >
    <mat-option *ngFor="let mensa of mensas" [value]="mensa.id">
      {{ mensa.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div id="menu-controls">
  <mat-form-field class="dishes-filter">
    <input
      matInput
      placeholder="Filter by Dish or Counter"
      [(ngModel)]="filter"
    />
  </mat-form-field>
  <mat-slide-toggle
    class="compact-toggle"
    labelPosition="before"
    color="primary"
    [checked]="compactMode"
    (toggleChange)="onCompactToggled()"
  >
    Compact
  </mat-slide-toggle>
</div>

<div *ngIf="selectedMensa">
  <mat-card *ngIf="isWeekend()">
    <mat-card-content>
      <mat-icon color="primary">info_outlined</mat-icon>
      <span class="notice-text">
        <i
          >Please note that the mensas are closed on weekends. This is the menu
          for Monday.</i
        >
      </span>
    </mat-card-content>
  </mat-card>
  <div *ngFor="let item of menu[selectedMensa]">
    <app-dish-card
      *ngIf="!isFiltered(item.value) || !isFiltered(item.key)"
      [name]="item.name"
      [category]="item.category"
      [reviewCollection]="
        reviews.hasOwnProperty(item.value) ? reviews[item.value] : {}
      "
      [pictureCollection]="
        pictures.hasOwnProperty(item.value) ? pictures[item.value] : {}
      "
      [compact]="compactMode"
    ></app-dish-card>
  </div>
</div>
