.mensa-select {
  width: 100%;
}

#menu-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .dishes-filter {
    flex-grow: 1;
  }

  .compact-toggle {
    margin-left: 5px;
    margin-top: 10px;
  }
}

mat-spinner {
  margin: auto;
}

app-dish-card,
mat-card {
  margin-bottom: 10px;

  .notice-text {
    position: absolute;
    margin-left: 5px; /* optional */
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
