<h1 mat-dialog-title>Reviews for "{{ data.dish.name }}"</h1>
<ng-container *ngIf="sortedReviews$ | async as reviews">
  <div mat-dialog-content>
    <div *ngIf="!editMode">
      <p *ngIf="reviews.length === 0">
        "{{ data.dish.name }}" has no reviews yet. <br />
        Did you ever have this dish? Then please tell us about it by writing the
        first review!
      </p>

      <article *ngFor="let review of reviews">
        <p>
          {{ review.author }}<br />
          <app-average-stars [averageStars]="review.stars">
            at {{ review.mensa }}
          </app-average-stars>
          {{ formatDate(review.timestamp) }}
        </p>
        <div class="tool-bar">
          <!-- Should work if Mensa Service implements PUT /dishes/{id}/rating
          <button
            mat-icon-button
            *ngIf="user && review.author === user.profile.preferred_username"
            (click)="currReview = review; editMode = true"
          >
            <mat-icon>edit</mat-icon>
          </button> -->
          <button
            mat-icon-button
            color="warn"
            *ngIf="user && review.author === user.profile.preferred_username"
            (click)="deleteReview(review.id); editMode = false"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

        <span *ngIf="review.comment">
          {{ review.comment }}
        </span>
        <hr />
      </article>
    </div>
    <div *ngIf="user && editMode" id="review-form-container">
      <app-review-form #reviewForm [dish]="data.dish"></app-review-form>
    </div>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="user && !editMode" mat-button (click)="editMode = true">
      Add Review
    </button>
    <button *ngIf="!user" mat-button disabled>Login to Add a Review</button>
    <button *ngIf="user && editMode" mat-button (click)="editMode = false">
      Cancel
    </button>

    <button
      *ngIf="user && editMode"
      mat-button
      (click)="reviewForm.save(); editMode = false"
    >
      Save Review
    </button>
    <button *ngIf="!editMode" mat-button mat-dialog-close cdkFocusInitial>
      Ok
    </button>
  </div>
</ng-container>
